* {
    margin :0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100vw;
    background-color: hsl(226, 43%, 10%);

}
main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap : 1rem;
    padding-top: 2rem;
    height: 100%;
    width: 100%;
    font-family: 'Rubik', sans-serif;
}

.user-card {
    width: 90%;
    background-color: hsl(235, 46%, 20%);
    border-radius: 10px;
}

.user-card-top {
    display: grid;
    grid-template-columns: 60px 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 1rem;
    row-gap: 0rem;
    border-radius: 10px;
    height : 70%;
    background-color: hsl(246, 80%, 60%);
    padding: 2rem;
    align-items: center;
}

.user-card-bottom {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding : 1.1rem;
}

.user-profil-picture {
    grid-row: span 2;
    
}

.user-profil-picture img {
    width: 60px;
    outline : 3px solid white;
    border-radius: 50%;    
}


.user-card p {
    color:hsl(236, 100%, 87%);
    font-weight: 300;
    align-self: end;
    padding-bottom: .4rem;
}

.user-name {
    color: white!important;
    font-size: 1.5rem;
    align-self: start!important;
    line-height: 1.5rem;
}

.timeframe-btn {
    background-color: transparent;
    border: 0px;
    color: hsl(235, 45%, 61%);
    font-size: .9rem;
}

.timeframe-btn:hover {
    color: white;
    cursor: pointer;
}

.active {
    color : white;
}

.card {
    width: 90%;
    background-color: white;
    border-radius: 10px;
    color : white;
    background-repeat: no-repeat;
    background-position: top -10px right;
}



.card-illustration {
    height: 40px;
    

}

.card-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding : 2rem 1rem;
    row-gap: .6rem;
    background-color: hsl(235, 46%, 20%);
    border-radius: 10px;
    transition: 200ms ease-out background-color;
}

.card-content:hover {
    background-color: hsl(235, 46%, 30%);
    cursor: pointer;
}

.card-content h1 {
    font-size: 1rem;
}

.time{
    font-size: 2rem;
    font-weight: 300;
    line-height: 2rem;
    align-self: end;
}
.dots {
    background-color: transparent;
    border: 0px;
    color : white;
    justify-self: end;
}

.last-week {
    color: hsl(235, 45%, 61%);
    justify-self: end;
    align-self: end;
}


.work {
    background-color: hsl(15, 100%, 70%);
    background-image: url(./images/icon-work.svg);
}

.play {
    background-color: hsl(195, 74%, 62%);
    background-image: url(./images/icon-play.svg);
}

.study {
    background-color: hsl(348, 100%, 68%);
    background-image: url(./images/icon-study.svg);
}

.exercise {
    background-color: hsl(145, 58%, 55%);
    background-image: url(./images/icon-exercise.svg);
}

.social {
    background-color:  hsl(264, 64%, 52%);
    background-image: url(./images/icon-social.svg);
}

.self-care {
    background-color:  hsl(43, 84%, 65%);
    background-image: url(./images/icon-self-care.svg);
}

footer {
    position: absolute;
    bottom : 0px
}

.attribution {
    font-family: 'Rubik', sans-serif;
    text-align: center;
    color : white;
    padding : 1rem;
}

.attribution a {
    color: hsl(235, 45%, 61%);
    font-weight:500;
    text-decoration: none;
}

.attribution a:hover {
    text-decoration: underline;
} 


@media (min-width:1000px ) {

    body {
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
    main {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        height: 50%;
        max-width: 900px;
    }

    .user-card {
        grid-row: span 2;
        width: 200px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .user-card-top {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        padding :1rem;
    }

    .user-profil-picture {
        padding-bottom: 1rem;
    }

    .user-card-top p {
        font-size: .8rem;
        align-self: start;
    }

    .user-name {
        font-size: 1.6rem!important;
        line-height: 2.2rem!important;
    }

    .user-card-bottom {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 1rem;
        padding-left: 1.5rem;
    }

    .card {
        width: 200px;
    }

    .card-content {
        gap: 1.3rem;
        grid-template-columns: 1fr 20px;
    }

    .time {
        font-size: 2.5rem;
        grid-column: span 2;
    }

    .last-week {
        grid-column: span 2;
        justify-self: start;
    }

    .attribution {
        grid-column: span 4;
    }
}

@media screen and (min-width:600px) and (max-width:1000px){

    body {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-content: center;
        
    }

    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        max-width: 70%;
        justify-items: center;

    }

    .user-card {
        grid-column : span 2;
        width: 95%;
    }

    .card-content {
        gap: 1.3rem;
        grid-template-columns: 1fr 20px;
    }

    .time {
        font-size: 2.5rem;
        grid-column: span 2;
    }

    .last-week {
        grid-column: span 2;
        justify-self: start;
    }

}
    


/* 

- Light red (work): hsl(15, 100%, 70%)
- Soft blue (play): hsl(195, 74%, 62%)
- Light red (study): hsl(348, 100%, 68%)
- Lime green (exercise): hsl(145, 58%, 55%)
- Violet (social): hsl(264, 64%, 52%)
- Soft orange (self care): hsl(43, 84%, 65%) */

/* 
font-family: 'Rubik', sans-serif; */